@font-face {
  font-family: "Netflix Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans"), url("NetflixSans.woff") format("woff");
}

:root {
  --red: #e50914;
  --black: #141414;
  --gray: #ddd;
  --grayOnHover: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Netflix Sans", "Arial", Times, serif; /* set better font*/

  color: whitesmoke;
}

/* header/menu */

header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

header .logo {
  margin: 20px 40px 10px 50px;
  color: var(--red);
  font-family: "Arial Black", Times;
  height: 30px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

header nav a {
  text-decoration: none;
  color: var(--gray);
  margin-right: 10px;
}

@keyframes link-hover {
  from {
    color: var(--gray);
  }
  to {
    color: var(--grayOnHover);
  }
}

header nav a:hover {
  animation-name: link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#home-link {
  color: #fff;
  animation-name: none;
}

#nav-buttons {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

#nav-buttons a {
  color: #fff;
  animation-name: none;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#nav-buttons i {
  margin-left: 8px;
  font-size: 18px;
}

#profile-pic {
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}

/* main movie */

.main-movie {
  font-size: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url("../img/main_movie_banner.jpg");
  background-position: center;
  height: 40vw;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
  text-shadow: 1px 1px black;
  font-size: 1.4vw;
}
.main-movie .title {
  margin-top: 15%;
  font-size: 90px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.main-movie .button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.main-movie .button:hover {
  background-color: white;
  color: black;
}
.main-movie .button i {
  margin-right: 8px;
}

.main-movie .description-container {
  width: 70%;
  margin-left: 50px;
  margin-bottom: 2%;
}

/* carousel */

.movie-box {
  height: 100%;
  width: 100%;
  display: block;
}

.movies-carousel {
  margin-top: 5px;
}

.owl-dots {
  display: none;
}
