@media screen and (max-width: 450px) {
  header .logo {
    height: 25px;
  }

  #nested-navbar a {
    display: flex;
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  #nav-buttons .search-icon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  header .logo {
    margin: 10px 20px 5px 25px;
  }
  #nav-buttons {
    margin-right: 15px;
  }
  #spacing-div {
    height: 49px;
  }

  .main-movie .description {
    font-size: 1.8vw;
    width: 75%;
    margin-bottom: 10px;
  }
  .main-movie .button {
    font-size: 1.5vw;
  }
  .carousel-title {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 700px) {
  .description {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  #nested-navbar {
    display: flex;
  }
  #nav-categories {
    display: none;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  header nav a {
    font-size: 12px;
  }
}
